<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="br.org.cursomde.exemplo2.design.Activator"
               id="br.org.cursomde.exemplo2.design"
	       name="questionario">
    </component>
  </extension>
</plugin>
