<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated questionario -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="br.org.cursomde.exemplo2.questionario.presentation.QuestionarioModelWizardID"
            name="%_UI_QuestionarioModelWizard_label"
            class="br.org.cursomde.exemplo2.questionario.presentation.QuestionarioModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/QuestionarioModelFile.gif">
         <description>%_UI_QuestionarioModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated questionario -->
      <editor
            id="br.org.cursomde.exemplo2.questionario.presentation.QuestionarioEditorID"
            name="%_UI_QuestionarioEditor_label"
            icon="icons/full/obj16/QuestionarioModelFile.gif"
            extensions="questionario"
            class="br.org.cursomde.exemplo2.questionario.presentation.QuestionarioEditor"
            contributorClass="br.org.cursomde.exemplo2.questionario.presentation.QuestionarioActionBarContributor">
      </editor>
   </extension>

</plugin>
